body{
    background-color: rgba(9, 9, 9, 0.874);
  }
.nav-link{
  color: rgb(184, 30, 30);
  background-color: rgba(252, 252, 252, 0);
}
.nav-link:hover{
  background-color: rgba(172, 47, 47, 0.733);
  color: blue;
}
#btn:hover{
  background-color: red;
  color: white;
}
.btn{
margin-left: 10px;
}

.card-body{
  background-color: rgba(9, 9, 9, 0.874);
  color: #8a1818fc;
}
#y{
  color: azure;
 margin-left: 10px;
 font-family: 'Times New Roman', Times, serif;
}
.card-footer{
  background-color: rgba(9, 9, 9, 0.874);
}
#s{
  background-color: rgba(9, 9, 9, 0.874);
  color: white;
}
#s:hover{
  background-color: white;
  color: red
}
#ss:hover{
  background-color: white;
  color: red;

}
.fo{
  text-align: center;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(17, 16, 16, 0.544);
  color:white;
  position: relative;
}
.st{
  position: sticky;
}
.dr{
  display: inline-block;
}
#yu{
  margin-left: 20px;
}
.dropdown-item:hover{
  background-color: black;
  color: brown;
}
.dropdown-item{
  color: white;
  background-color: black;
}
#bu{
  color: white;
  background-color: black;
}
#dropdownMenuButton1{
  color: white;
  background-color: rgba(9, 9, 9, 0.874);
  -webkit-appearance: none;
  margin-left: 30px;
  appearance: none;
  text-overflow:'';

}
#dropdownMenuButton1:hover{
  background-color: white;
  color: rgba(9, 9, 9, 0.874);
}
#btn1{
  background-color: rgba(255, 0, 0, 0.775);
  color: white;
}
@media(max-width:400px){
#btn1,#btn{
  display: inline-flex;
  overflow-wrap: normal;
}
}
